<% content_for :head do %>
  <title>Login | JippyBook</title>
<% end %>

<% content_for :body do %>
  <div ng-app='activity'>
    <section ng-controller='registrationController'>
      <form name='form' ng-submit='submit(form)' ng-init='action="/authen"' novalidate>
        <input name='username' type='username' ng-model='input.username' required>
        <input name='password' type='password' ng-model='input.password' required>
        <input name='cpassword' type='password' ng-model='input.cpassword' required>
        <input type='submit' value='Login'>
      </form>
    </section>
  </div>
<% end %>
