
<% content_for :head do %>
  <title>Admin: Order| JippyBook</title>
<% end %>

<% content_for :body do %>
<section>
	<div class='page-container'>
		<div class="row">
			<div class="col m10 offset-m2">
				<h4>Order Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m2">
				<%= render template: '/admin/nav' %>
			</div>
			<div class="col m10">
				<table class="bordered">
			        <thead>
				        <tr>
				            <th width="5%;">Id</th>
				            <th width="15%">Username</th> 
				            <th width="15%">Payment Method</th>
				            <th width="5%">Count</th>
				            <th width="10%">Price(Bath)</th>
				            <th width="15%">Order_Date</th>
				            <th width="15%">Send_Date</th>
				            <th width="20%"></th>
				        </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td class="center">1</td>
			            <td class="center">mike_paniwan</td>
			            <td class="center">Oomsin</td>
			            <td class="center">4</td>
			            <td class="center">480</td>
			            <td class="center">24/03/2012 17:23</td>
			            <td class="center">29/03/2012 17:23</td>
			            <td>
			            	<a href='/admin/order/1' class="btn blue"><i class="mdi-action-assignment"></i></a>
			            	<a href='#' class="btn red"><i class="mdi-action-delete"></i></a>
			            </td>
			          </tr>
			        </tbody>
			    </table>

			    <div class="row">
			    	<div class="col s12">
					    <ul class="pagination">
						    <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
						    <li class="active"><a href="#!">1</a></li>
						    <li class="waves-effect"><a href="#!">2</a></li>
						    <li class="waves-effect"><a href="#!">3</a></li>
						    <li class="waves-effect"><a href="#!">4</a></li>
						    <li class="waves-effect"><a href="#!">5</a></li>
						    <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<% end %>