<div class="collection" style="text-align:center;">
  <a href="/admin" class="collection-item">Dashboard</a>
  <a href="/admin/category" class="collection-item">Category</a>
  <a href="/admin/inventory" class="collection-item active">Book Inventory</a>
  <a href="/admin/member" class="collection-item">Member</a>
  <a href="/admin/order" class="collection-item">Order</a>
  <a href='/admin/payment_method' class="collection-item">Payment Method</a>
</div>