
<% content_for :head do %>
  <title>Admin: Inventory | JippyBook</title>
<% end %>

<% content_for :body do %>
<section>
	<div class='page-container'>
		<div class="row">
			<div class="col m10 offset-m2">
				<h4>Book Inventory</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m2">
				<%= render template: '/admin/nav' %>
			</div>
			<div class="col m10">
				<a href='/admin/inventory/new' class="btn"><i class="mdi-content-add left"></i>Add New Book</a>
				<table class="bordered">
			        <thead>
				        <tr>
				        	<th width="10%;"></th>
				            <th width="5%;">Id</th>
				            <th width="10%;">Category</th>
				            <th width="10%;">Name</th>
				            <th width="35%;">Description</th>	            
				            <th width="10%;">Price(Bath)</th>
				            <th width="20%;"></th>
				        </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td><img class="responsive-img" src='http://img1.wikia.nocookie.net/__cb20070927074347/harrypotter/images/1/15/Hp7.jpg'></td>
			            <td class="center">1</td>
			            <td class="center">Novel</td>
			            <td class="center">Harry Potter</td>
			            <td>The novel about sex</td>
			            <td class="center">5000</td>
			            <td>
			            	<a href='/admin/inventory/12/edit' class="btn"><i class="mdi-content-create"></i></a>
			            	<a href='#' class="btn red"><i class="mdi-action-delete"></i></a>
			            </td>
			          </tr>
			        </tbody>
			    </table>

			    <div class="row">
			    	<div class="col s12">
					    <ul class="pagination">
						    <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
						    <li class="active"><a href="#!">1</a></li>
						    <li class="waves-effect"><a href="#!">2</a></li>
						    <li class="waves-effect"><a href="#!">3</a></li>
						    <li class="waves-effect"><a href="#!">4</a></li>
						    <li class="waves-effect"><a href="#!">5</a></li>
						    <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<% end %>