
<% content_for :head do %>
  <title>Admin: New inventory | JippyBook</title>
<% end %>

<% content_for :body do %>
<section>
	<div class='page-container'>
		<div class="row">
			<div class="col m9 offset-m3">
				<h4>Add New Book to Inventory</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m2">
				<%= render template: '/admin/nav' %>
			</div>
			<div class="col m7 offset-m1">
                <%= form_for(:book, url:'/admin/inventory', :html =>{:class => 'col m12'}) do |f|%>

					<div class="row">
				        <div class="input-field col m12">
				          <input placeholder="" id="book_name" type="text" class="validate" name="book_name">
				          <label for="book_name">Book Name</label>
				        </div>
				    </div>

				    <div class="row">
				        <div class="input-field col m12">
				          <input placeholder="" id="book_cover" type="text" class="validate" name="book_cover">
				          <label for="book_cover">Image Url</label>
				        </div>
				    </div>

					<div class="row">
		               <div class="input-field col m12">
                       <%= select_tag 'category_id', options_for_select(@category_list.collect{ |u| [u.name, u.id] }) %>
					    <label>Category</label>
					  </div>
		            </div>

				    <div class="row">
				        <div class="input-field col m12">
				          <textarea id="description" class="materialize-textarea" name="description"></textarea>
				          <label for="description">Description</label>
				        </div>
				    </div>

				    <div class="row">
				        <div class="input-field col m12">
				          <input placeholder="" id="price" type="text" class="validate" name="price">
				          <label for="price">Price</label>
				        </div>
				    </div>

				    <button class="btn" name="">Create</button>        
                <% end %>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript">
	$(document).ready(function() {
	    $('select').material_select();
	 });
</script>
<% end %>
