
<% content_for :head do %>
  <title>Welcome | JippyBook</title>
<% end %>

<% content_for :body do %>
  <section>
    <div class='parallax-container'>
      <div class='parallax'>
        <img src='https://d13yacurqjgara.cloudfront.net/users/251190/screenshots/1119637/attachments/142465/snakebarCompleted.jpg'>
      </div>
    </div>
    <div class='page-container'>
      <div class='card-section white'>
        <h4>Top Seller</h4>
        <div>
          <div class='row'>
            <div class='col m5'>
              <div class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                  <img class='activator' src='http://materializecss.com/images/office.jpg'>
                </div>
                <div class='card-content'>
                  <span class='card-title activator grey-text text-darken-4'>Card Title <i class='mdi-navigation-more-vert right'></i></span>
                  <p><a href=''>This is a link</a></p>
                </div>
                <div class='card-reveal'>
                  <span class='card-title grey-text text-darken-4'>Card Title <i class='mdi-navigation-close right'></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class='col m7'>
              <blockquote>
                This is an example quotation that uses the blockquote tag.
              </blockquote>
            </div>
          </div>
          <div class='row'>
            <div class='col m4'>
              <div class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                  <img class='activator' src='https://d.gr-assets.com/books/1407112405l/22668729.jpg'>
                </div>
                <div class='card-content'>
                  <span class='card-title activator grey-text text-darken-4'>Hooked: How to Build Habit-Forming Products <i class='mdi-navigation-more-vert right'></i></span>
                  <p><a href=''>This is a link</a></p>
                </div>
                <div class='card-reveal'>
                  <span class='card-title grey-text text-darken-4'>Card Title <i class='mdi-navigation-close right'></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class='col m4'>
              <div class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                  <img class='activator' src='http://materializecss.com/images/office.jpg'>
                </div>
                <div class='card-content'>
                  <span class='card-title activator grey-text text-darken-4'>Card Title <i class='mdi-navigation-more-vert right'></i></span>
                  <p><a href=''>This is a link</a></p>
                </div>
                <div class='card-reveal'>
                  <span class='card-title grey-text text-darken-4'>Card Title <i class='mdi-navigation-close right'></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class='col m4'>
              <div class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                  <img class='activator' src='http://materializecss.com/images/office.jpg'>
                </div>
                <div class='card-content'>
                  <span class='card-title activator grey-text text-darken-4'>Card Title <i class='mdi-navigation-more-vert right'></i></span>
                  <p><a href=''>This is a link</a></p>
                </div>
                <div class='card-reveal'>
                  <span class='card-title grey-text text-darken-4'>Card Title <i class='mdi-navigation-close right'></i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
          </div>
          <a class='right waves-effect waves-light btn'>See More</a>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.parallax').parallax();
      Materialize.toast('This site used for educational purposes only', 3000);
    });
  </script>
<% end %>
