
<% content_for :head do %>
  <title>Welcome | JippyBook</title>
<% end %>

<% content_for :body do %>
  <div ng-app='activity'>
    <section>
      <div>
      <!-- Menu -->
      </div>
      <div>
      <!-- Navigation -->
      </div>
    </section>
  </div>
<% end %>
