<!DOCTYPE html>
<html>
<head>
  <title>Jippybook</title>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>
<body>
ggdp
    
<%= yield %>
    <%= javascript_include_tag "home.js" %>

</body>
</html>
