
<% content_for :head do %>
  <title>Cart | JippyBook</title>
<% end %>

<% content_for :body do %>
  <section>
    <div class='parallax-container'>
      <div class='parallax'>
        <img src='https://d13yacurqjgara.cloudfront.net/users/501233/screenshots/1833854/attachments/305595/bookstore2.jpg'>
      </div>
    </div>
    <div class='page-container'>
      <div class='card-section white'>
        <h4>Cart</h4>
        <ul class='collection'>
          <li class='collection-item'>
            <div class='row'>
              <img class='col m4 s12' src='https://d.gr-assets.com/books/1405094011l/4191136.jpg'>
              <div class='col m6 s8'>
                <h5>Business Adventures</h5>
                <p>This business classic written by longtime New Yorker contributor John Brooks is an insightful and engaging look into corporate and financial life in America.</p>
              </div>
              <div class='col m2 s4'>
                <h5 class='red-text right-align'>$250</h5>
              </div>
            </div>
          </li>
          <li class='collection-item'>
            <div class='row'>
              <img class='col m4 s12' src='https://d.gr-assets.com/books/1388276892l/1169.jpg'>
              <div class='col m6 s8'>
                <h5>Monkey Business</h5>
                <p>MB is for Masters in Business

Which is what Kimmy, Russ, Jamie, and Layla are supposed to be studying for at the University of Connecticut. Jamie at least has serious academic intent. Well, until the first day of preterm when he develops a not-so-secret crush.</p>
              </div>
              <div class='col m2 s4'>
                <h5 class='red-text right-align'>$200</h5>
              </div>
            </div>
          </li>
        </ul>
        <div class='container'>
          <div class='row right-align'>
            <div class='col m12 s12'>Total</div>
          </div>
          <div class='row'>
            <div class='col m6 s6'>
              <a href='/user/payment' class='right waves-effect waves-light btn'>Check Out</a>
            </div>
            <div class='col m6 s6 right-align'>
              <h5 class='red-text'>$450</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.parallax').parallax();
    });
  </script>
<% end %>
