
<% content_for :head do %>
  <title>Payment | JippyBook</title>
<% end %>

<% content_for :body do %>
  <section>
    <div class='parallax-container'>
      <div class='parallax'>
        <img src='https://d13yacurqjgara.cloudfront.net/users/501233/screenshots/1833854/attachments/305595/bookstore2.jpg'>
      </div>
    </div>
    <div class='page-container'>
      <div class='card-section white'>
        <h4>Payment</h4>
        <form>
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='firstname' type='text' class='validate'>
              <label for='firstname'>Firstname</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='lastname' type='text' class='validate'>
              <label for='lastname'>Lastname</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <select id='province'>
                <option disabled selected>Choose your option</option>
                <option value='1'>12345 SW Jones ST</option>
                <option value='2'>Option 2</option>
                <option value='3'>Option 3</option>
              </select>
              <label for='province'>Address</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <select id='province'>
                <option disabled selected>Choose your option</option>
                <option value='1'>PayPal</option>
                <option value='2'>Option 2</option>
                <option value='3'>Option 3</option>
              </select>
              <label for='province'>Banking</label>
            </div>
          </div>
          <div class='row'>
            <div class='col s4 offset-s4 input-field'>
              <input id='lastname' type='text' class='validate right-align'>
              <label for='lastname'>Price</label>
            </div>
            <div class='col m4 input-field'>
              <a href='/user/payment/success' class='right waves-effect waves-light btn'>Submit</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.parallax').parallax();
      $('select').material_select();
    });
  </script>
<% end %>
