
<% content_for :head do %>
  <title>Admin: Category | JippyBook</title>
<% end %>

<% content_for :body do %>
<section>
	<div class='page-container'>
		<div class="row">
			<div class="col m10 offset-m2">
				<h4>Category</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m2">
				<%= render template: '/admin/nav' %>
			</div>
			<div class="col m10">
				<a href='/admin/category/new' class="btn"><i class="mdi-content-add left"></i>Add New Category</a>
				<div class="row">
					<table class="bordered col m8">
				        <thead>
					        <tr>
					            <th width="5%">Id</th>
					            <th width="65%">Category Name</th>
					            <th width="30%"></th>
					        </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td class="center">1</td>
				            <td class="center">Novel</td>
				            <td>
				            	<a href='/admin/inventory/12/edit' class="btn"><i class="mdi-content-create"></i></a>
				            	<a href='#' class="btn red"><i class="mdi-action-delete"></i></a>
				            </td>
				          </tr>
				        </tbody>
				    </table>
				</div>
			</div>
		</div>
	</div>
</section>

<% end %>