
<% content_for :head do %>
  <title>Admin: New Category | JippyBook</title>
<% end %>

<% content_for :body do %>
<section>
	<div class='page-container'>

		<div class="row">
			<div class="col m9 offset-m3">
				<h4>Add New Category</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m2">
				<%= render template: '/admin/nav' %>
			</div>
            <% if @category.errors.any? %>
                <h5> Error </h5>
                    <li><%= @category.errors.messages[:name] %></li>
            <% end %>
			<div class="col m7 offset-m1">
                <%= form_for(:category, url: '/admin/category' ,:html=>{:class => 'col m12'}) do |f| %>

					<div class="row">
				        <div class="input-field col m12">
				          <input placeholder="" id="category_name" type="text" class="validate" name='category_name'>
				          <label for="category_name">Category Name</label>
				          <button class="btn" name="">Create</button>  
				        </div>
				    </div>

			    <% end %>	          
			</div>
		</div>
	</div>
</section>


<script type="text/javascript">
	$(document).ready(function() {
	    $('select').material_select();
	 });
</script>
<% end %>
