<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag '' %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css'>
  </head>
  <body ng-app='auth'>
    <section ng-controller='loginController'>
      <form name='form' ng-submit='submit(form)' ng-init='action="/authen"' novalidate>
        <input name='username' type='username' ng-model='input.username' required>
        <input name='password' type='password' ng-model='input.password' required>
        <input type='submit' value='Login'>
      </form>
    </section>
    <%= javascript_include_tag 'jquery.js', 'angular.min.js', 'auth.js' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js'></script>
  </body>
</html>
