
<% content_for :head do %>
  <title>Login | JippyBook</title>
<% end %>

<% content_for :body do %>
  <section>
    <div class='parallax-container'>
      <div class='parallax'>
        <img src='https://d13yacurqjgara.cloudfront.net/users/501233/screenshots/1833854/attachments/305595/bookstore2.jpg'>
      </div>
    </div>
    <div class='page-container'>
      <div class='card-section white'>
        <h4>Login</h4>
        <form>
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='username' type='text' class='validate'>
              <label for='username'>Username</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='password' type='password' class='validate'>
              <label for='password'>Password</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <a class='right waves-effect waves-light btn'>Login</a>
              <a class='right waves-effect waves-light btn'>SignUp</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.parallax').parallax();
    });
  </script>
<% end %>
