
<% content_for :head do %>
  <title>Login | JippyBook</title>
<% end %>

<% content_for :body do %>
  <section>
    <div class='parallax-container'>
      <div class='parallax'>
        <img src='https://d13yacurqjgara.cloudfront.net/users/501233/screenshots/1833854/attachments/305595/bookstore2.jpg'>
      </div>
    </div>
    <div class='page-container'>
      <div class='card-section white'>
        <h4>Login</h4>
        <% if logged_in? %>
            <h1>i<%= current_user.username %>i</h1>
        <% else %>
            <h1> gg </h1>
        <% end %>
        <%= form_for(:user, url: '/login') do |f| %>
        <!--form action='/login' method='post' id='login_form'-->
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='username' type='text' class='validate' name='user[username]'>
              <label for='username'>Username</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <input id='password' type='password' class='validate' name='user[password]'>
              <label for='password'>Password</label>
            </div>
          </div>
          <div class='row'>
            <div class='col m12 input-field'>
              <button class='right waves-effect waves-light btn'>Login</button> 
              <a class='right waves-effect waves-light btn'>SignUp</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.parallax').parallax();
    });
  </script>
<% end %>
