<ul id='drawer-nav' class='side-nav'>
  <li class='avatar'><a href=''><img src='https://goo.gl/81dxok'></a></li>
  <li class='black-text center-align'><a href='/login'>LOG IN</a></li>
  <li class='black-text center-align'><a href='/registration'>SIGN UP</a></li>
</ul>
