<footer class='page-footer light-green'>
  <div class='container'>
    <div class='row'>
      <div class='col m8'>
        <h5 class='white-text'>JippyBook</h5>
        <p class='grey-text text-lighten-4 center-align'>
          A room without books is like a body without a soul
          <i class='mdi-editor-format-quote small'></i>
          <br>
          ― Marcus Tullius Cicero
        </p>
      </div>
      <div class='col m4'>
        <h5 class='white-text'>Follow us</h5>
        <ul>
          <li><a class='grey-text text-lighten-3' href='#facebook'>Facebook</a></li>
          <li><a class='grey-text text-lighten-3' href='#twitter'>Twitter</a></li>
          <li><a class='grey-text text-lighten-3' href='#instagram'>Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='footer-copyright'>
    <div class='container'>
      © 2015 Copyright JippyBook.net
      <a class='grey-text text-lighten-4 right' href=''>About Us</a>
    </div>
  </div>
</footer>
